<blockquote class="info">
  <mark>- You...</mark>
  <p>
    <% if @question.blank? %>
      :>
    <% else %>
      <%= @question %>
    <% end %>
  </p>
</blockquote>

<blockquote class="coach">
  <p> <mark>- Your coach... </mark> </p>
  <p> <%= @answer%> </p>
</blockquote>

<p> <%= link_to "Ask a new question", ask_path %> </p>
